body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
}

header {
  background-color: #f0f0f0;
  padding: 20px 0;
  border-bottom: 2px solid #000;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #0047ab;
  font-weight: bold;
}

main {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
}


a:hover {
  text-decoration: underline;
}